body {
    background-color: rgb(195, 194, 192);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}

.container {
    background-color: rgb(255, 255, 255);
    border-radius: 13px;
    width: 500px;
    padding: 20px;
    margin: 30px auto;
}

.container h1 {
    margin: 0;
}

.heading {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.expense-btn {
    padding: 10px 20px;
    background-color: #20d651;
    border: none;
    color: white;
    font-weight: bolder;
    border-radius: 5px;
    cursor: pointer;
}

.expense-btn:hover {
    background-color: #2ce13bc0;
    transition: 0.5s;
}

.container p {
    margin: 20px 0px 5px 0px;
    text-align: right;
}

.list .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background-color: #ccc;
    margin: 10px 0;
    padding: 5px;
    border-radius: 5px;
}

.delete-btn {
    background-color: rgb(216, 48, 48);
    color: white;
    border: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    
}
