body {
    background-color: rgb(195, 194, 192);
}

* a {
    text-decoration: none;
}

main {
    width: 100%;
}

.container {
    width: 700px;
    height: 250px;
    background-color: rgb(237, 236, 236);
    margin: 200px auto;
    display: flex;
    justify-content: space-between;
}

.container:hover {
    box-shadow: 12px 12px 10px rgba(118, 118, 119, 0.36);
    transition: 1s;
}

.container aside {
    padding: 20px;
}

.container li {
    list-style-type: none;
    padding-top: 10px;
    font-family: 'Hedvig Letters Serif', serif;
    font-size: 15px;
    font-weight: 400;
}

.container li a {
    color: rgb(71, 70, 70);
}

.container li a:hover {
    color: rgb(27, 27, 196);
    transition: 0.5s;
    cursor: pointer;
}